server {
    listen 80;
    server_name csi6220-4-vm2.ucd.ie;

    root /NYC_Busyness/app/build;

    location / {
        try_files $uri $uri/ /index.html;
        
        # Proxy API requests to the Django backend
        proxy_pass http://127.0.0.1:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
    }
}
