#info01 {
    font-size: 14px;
    width: 320px;
    margin-top: 50px;
    margin-right: 200px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7); /* 背景色为白色半透明 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */
    opacity: 1; /* 设置不透明度为1，也就是完全不透明 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fixed-box {
    align-items: center;
    position: absolute;
    top: 0;
    top: 10px;
    right: -6vw;
    width: 350px;
    z-index: 1;
}

.attraction-name,
.restaurant-name {
  font-weight: bold;
  margin-bottom: 8px;
}

.photo-container {
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 10px;
}

.attraction-photo,
.restaurant-photo {
  width: 200px; 
  height: 150px; 
  margin-right: 10px;
  margin-bottom: 10px; 
}

.button-container {
  margin-top: 10px;
}
.suggestion {
    cursor: pointer;
    padding: 8px;
    list-style-type: none; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}  
  .suggestion-hover {
    background-color: lightgray;
  }

.attraction-item,
.restaurant-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}

.label-circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 10px;
  display: inline-block;
}
